.env
__pycache__/game_gui_navigator.cpython-313.pyc
__pycache__/game_helper_functions.cpython-313.pyc
__pycache__/testing_torch.cpython-313.pyc
__pycache__/torch.cpython-313.pyc
item_data.json
market_data.csv
__pycache__/game_gui_navigator.cpython-311.pyc
__pycache__/game_helper_functions.cpython-311.pyc
/currencyPairHistory/*
/debug_processed*
/screenshots*
/templates*